.right-sidebar:not(.woocommerce-checkout) #secondary,
.left-sidebar:not(.woocommerce-checkout) #secondary {
    flex: 0 0 27.23577% !important;
    max-width: 27.23577% !important;
    position: relative !important;
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.right-sidebar:not(.woocommerce-checkout) #primary,
.left-sidebar:not(.woocommerce-checkout) #primary {
    flex: 0 0 72.76423% !important;
    max-width: 72.76423% !important;
    position: relative !important;
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.common-card-image {
    height: 186px;
    object-fit: cover;
    width: 150px;
}

.addthis_toolbox a {
    height: 32px;
    width: 32px;
    overflow: hidden;
}

.addthis_button_more {
    background: #749EAC;
    color: #fff;
}

.addthis_button_more i {
    height: 32px;
    width: 27px;
    padding: 3px 0;
    font-size: 1.6em;
    text-align: center;
    overflow: hidden;
}

.info-box {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: 0.25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
}

.bg-light {
    background-color: #f8f9fa!important;
}

.info-box .info-box-content {
    -ms-flex: 1;
    flex: 1;
    padding: 5px 10px;
}

.info-box .info-box-number {
    display: block;
    font-weight: 700;
}

.info-box .info-box-text,
.info-box .progress-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loader .skeleton {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

.loader .skeleton.skeleton--card {
    width: 500px;
    height: 300px;
    display: inline-block;
    vertical-align: text-top;
}

.loader .skeleton .skeleton--content {
    height: 150px;
    padding: 15px;
    position: relative;
}

.loader .skeleton .skeleton--content .loader {
    background: #f6f7f8;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderSkeleton;
    -webkit-animation-timing-function: linear;
    background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    height: 104px;
    position: relative;
}

.loader .skeleton .skeleton--content .skeleton--table .skeleton--tr {
    display: flex;
}

.loader .skeleton .skeleton--content .skeleton--table .skeleton--tr .skeleton--th {
    flex: 1 1 100%;
    height: 15px;
    margin: 5px 10px 15px;
}

.loader .skeleton .skeleton--content .skeleton--table .skeleton--tr .skeleton--td {
    flex: 1 1 100%;
    height: 10px;
    margin: 5px 10px;
}

.loader .skeleton .skeleton--content .skeleton--table .skeleton--tr .skeleton--td__2 {
    flex-basis: 300%;
}

.loader .skeleton .skeleton--content .skeleton--table .skeleton--tr .skeleton--td__3 {
    flex-basis: 500%;
}

.loader .skeleton .skeleton--content .skeleton--table .skeleton--tr .skeleton--td__4 {
    flex-basis: 700%;
}

.loader .skeleton .skeleton--content .skeleton--table .skeleton--tr .skeleton--td__5 {
    flex-basis: 900%;
}

.loader .skeleton .skeleton--content .skeleton--title {
    margin: 5px 10px;
    height: 20px;
    width: 200px;
}

.loader .skeleton .skeleton--content .skeleton--image {
    margin: 5px 10px;
    height: 70px;
    width: 200px;
}

.loader .skeleton .skeleton--content .skeleton--hr {
    height: 2px;
    width: calc(100% - 20px);
    margin: 0 10px 10px;
}

.loader .skeleton .skeleton--content .skeleton--line {
    height: 10px;
    width: calc(100% - 20px);
    margin: 10px;
}

.loader .skeleton .skeleton--content .skeleton--line.skeleton--line__short {
    width: 120px;
}

.loader .skeleton .skeleton--content .skeleton--circle {
    margin: 5px 10px 10px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.loader .skeleton .skeleton--content .fl {
    display: inline-block;
    width: auto;
    vertical-align: text-top;
}

@-webkit-keyframes placeholderSkeleton {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.author-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}